body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(51, 106, 164);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header h2 {
    margin: 0;
    color: #f3f5fa;
    font-size: 24px;
}

.header a {
    text-decoration: none;
    color: #eff0f4;
    margin-left: 20px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.header a:hover {
    color: #1d4ed8;
}


h1 {
    text-align: center;
    margin-top: 40px;
    color: #e8eaef;
    font-weight: 700;
}
p{
    color:white;
    line-height: 1.8;
    text-align: justify;
}

/* Feature container and cards */
.features ,.container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.feature,.model {
    background-color: #2c0fa1;
    width: 40%;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.06);
    border-left: 4px solid #ecedf0;
    transition: transform 0.2s ease;
}

.feature:hover,.model:hover {
    transform: translateY(-5px);
}

.feature,.model h3  {
    color: #eaecf2;
    font-size: 18px;
    margin-bottom: 12px;
}

.feature ul ,.model ul{
    padding-left: 20px;
    margin: 0;
    color: #e8eaef;
}

.feature li {
    margin-bottom: 10px;
    line-height: 1.6;
    
}

.label {
    font-weight: bold;
    color: #f3eeee;
}


ul {
    padding-left: 20px;
    margin: 0;
}

.centered-img {
    display: block;
    margin: 0 auto;
}



/* BACK LINK */
.back-link {
    display: block;
    text-align: center;
    margin: 30px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #f2f2f4;
}

.back-link:hover {
    text-decoration: underline;
}
p{
    padding:30px;
}